* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: rgb(58, 44, 44);
    color: #fff;
    padding: 10px 0;
}


#container {
    text-align: center;
    background-color: rgb(80, 112, 101);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
    height: auto;
    color: #fff;
    padding: 10px;
}

label {
    font-size: clamp(1.3rem, 2.5vw, 2rem);
}

input {
    border-radius: 10px;
    border: 3px solid #ccc;
    font-size: 15px;
    padding: 5px;
}

button {
    border-radius: 10px;
    border: 3px solid #ccc;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    padding: 2px;
}

button:hover {
    background-color: rgb(63, 99, 63);
    color: #fff;
}

#result {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow-y: scroll;
    gap: 5px;
}

.cardAll {
    width: 300px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    padding: 2px;
}


img {
    width: 100%;
    height: 200px;
}

button {
    float: right;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
}

h2 {
    text-align: center;
    background-color: rgb(6, 80, 55, 0.6);
    color: #fff;
}

.about {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40px;
}

#creatorid {
    text-align: center;
    height: auto;
    width: 200px;
    z-index: 20;
    background-color: #ccc;
    padding: 5px;
    border-radius: 5px;
}

#creatorid img {
    height: 150px;
    width: 150px;
}

